.rating-container {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.star-container {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}

.rating-container .star.filled {
  width: var(--fill-rating);
}
