.reset,
.logout,
.profile-logout {
  padding: 15px 35px;
  border-radius: 30px;
  border: none;
  font: inherit;
  font-size: 16px;
  text-transform: uppercase;
  align-self: start;
}

.profile-logout {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.reset,
.logout {
  background-color: var(--primary-clr);
  color: var(--secondary-txt-clr);
}

.auth-submit {
  text-align: center;
  margin-top: 48px;
  padding: 16px 0;
  color: var(--secondary-txt-clr);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  border-radius: 30px;
  background-color: var(--primary-clr);
  border: none;
}

.icon-btn,
.clear-btn,
.search-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: currentColor;
}

.pagination-btn {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid var(--pagination-active-clr);
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-txt-clr);
}

.disabled {
  color: var(--inactive-secondary--txt-clr);
  border-color: var(--pagination-disable-clr);
  cursor: auto;
}

.edit-plain-btn {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  border: none;
  border-radius: 50%;
}

.avatar-container {
  padding: 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  position: relative;
  top: 0;
  left: -4.75%;
}

.avatar-container p {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.notice-learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  width: 100%;
  background-color: var(--primary-clr);
  color: var(--secondary-txt-clr);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.48px;
  border: none;
  border-radius: 30px;
  transition: background-color var(--transition-time) var(--transition-func);
}

.notice-learn-more:is(:hover, :focus) {
  background-color: var(--btn-hover-clr);
}

.notice-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: none;
  border-radius: 50%;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  transition: background-color var(--transition-time) var(--transition-func);
}

.notice-favorite:is(:hover, :focus) {
  background-color: var(--icon-edit-bg-clr);
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.favorite-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 30px;
  border: none;
  background: var(--primary-clr);
  color: var(--secondary-txt-clr);
  transition: background-color var(--transition-time) var(--transition-func);
}

.favorite-btn:is(:hover, :focus) {
  background-color: var(--btn-hover-clr);
}
