.link-btn {
  color: inherit;
  border-radius: 30px;
}

.login,
.login-home {
  color: var(--secondary-txt-clr);
  padding: 15px 35px;
  transition: background-color var(--transition-time) var(--transition-func),
    color var(--transition-time) var(--transition-func);
}

.login {
  background-color: var(--primary-clr);
  border: none;
}

.login-home {
  border: 1px solid var(--border-home-clr);
}

.login:is(:hover, :focus) {
  background-color: var(--btn-hover-clr);
}

.login-home:is(:hover, :focus) {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.register {
  padding: 15px 20px;
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  transition: background-color var(--transition-time) var(--transition-func);
}

.register:is(:hover, :focus) {
  background-color: var(--icon-edit-bg-clr);
}

.user-bar-wrap {
  display: flex;
  gap: 8px;
  align-items: center;
}
