.notice-aside {
  padding-top: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.48px;
}

.notices-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.notices-tab-list {
  display: flex;
  gap: 8px;
}

.notices-tab-item {
  display: flex;
  justify-content: center;
  max-width: 142px;
  width: 100%;
  padding: 14px 0;
  border-radius: 30px;
  color: var(--primary-txt-clr);
  background-color: var(--secondary-txt-clr);
  transition: color var(--transition-time) var(--transition-func),
    background-color var(--transition-time) var(--transition-func);
  cursor: pointer;
}

.notices-tab-item.active {
  color: var(--secondary-txt-clr);
  background-color: var(--primary-clr);
}
