svg {
  flex-shrink: 0;
}

.heart-circle,
.user {
  fill: currentColor;
}

.figure {
  position: absolute;
  bottom: 0;
  left: 50%;
  fill: var(--pet-block-bg);
  transform: translateX(-50%);
  z-index: 2;
}

.eye,
.eye-off {
  fill: var(--secondary-txt-clr);
  stroke: var(--pet-block-bg);
}

.cross-small {
  stroke: currentColor;
}

.check {
  fill: var(--secondary-txt-clr);
  stroke: var(--icon-success-clr);
}

svg use {
  width: 100%;
  height: 100%;
}

.search {
  fill: var(--secondary-txt-clr);
  stroke: var(--primary-txt-clr);
}
