.header {
  padding: 32px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: -0.48px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-txt-clr);
}

.nav-list-other {
  padding: 0 32px;
}

.nav-list-home {
  color: var(--secondary-txt-clr);
  padding: 0 64px;
}
