.no-notice-container {
  padding-top: 148px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.no-notices-txt {
  display: block;
  text-align: center;
  max-width: 458px;
  letter-spacing: -0.32px;
}

.no-notices-txt span {
  font-weight: 700;
  color: var(--primary-clr);
}
