.routes-nav {
  display: flex;
  justify-content: space-between;
  max-width: 316px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.link-btn {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: inherit;
  border: 1px solid var(--input-line-clr);
  transition: border var(--transition-time) var(--transition-func);
}

.active-btn,
.link-btn:is(:hover, :focus) {
  border-color: var(--primary-clr);
}

.home > li > * {
  border-color: var(--border-home-clr);

  &:is(:hover, :focus){
    border-color: var(--input-line-clr);
  }
}
