.search-form {
  position: relative;
  max-width: 230px;
  width: 100%;
}

.btn-form-container {
  padding: 0;
  border: none;
  position: absolute;
  color: var(--primary-txt-clr);
  top: 14px;
  right: 15px;
  display: flex;
  gap: 8px;
}

.news_search {
  justify-self: end;
}

.filter-notice {
  max-width: 265px;
}

.filter-notice input {
  background-color: var(--secondary-txt-clr);
  border: none;
}

.filter-notice input::placeholder {
  color: var(--primary-txt-clr);
}